# Reading Data with pandas

## Downloading example data

In [89]:
import urllib.request

def download_file(url, filename):
    # Download
    response = urllib.request.urlopen(url)

    # Write data to file
    data = response.read()
    file_ = open(filename, 'wb')
    file_.write(data)
    file_.close()
    
import zipfile

def unzip(zip_filename, targetdir):
    with zipfile.ZipFile(zip_filename, "r") as zip_ref:
        zip_ref.extractall(targetdir)

In [62]:
# download csv file
melbourne_housing_kaggle_link = "https://storage.googleapis.com/kaggle-datasets/2709/38454/melb_data.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1556464841&Signature=PofUf5ZIL2UyKHvUJGEovEBvxmLfUkV48%2FyO6Fug%2Fvy06Ce3BAKj8MvN20vKnsEROXbdrN6n0p4u1mvngaEoZjMBjRaY42vaGn6rcHKnA8mEP1MbjPSxyekSOfQ%2BnkjAlV1awRU4xX64Z0I5aiUJBHdi2s645hsjKGTewgy51%2FaGUBlprGw5OtyUrZmkBHOZjasTAIGy1Ijk15svh5Nk6bLoP5DKJZ%2B9bnbN2BU4od9hlF6XDFiNctLLEHumimE6kh4P6FPTyOtbTwiTqbho%2BLQXGyFt5%2FtzaOuoxPMc3J6AAVb%2Bqi3HNjZGg3E7qqS8Karu4lCHWBgNvFT1fpUWMA%3D%3D"
melbourne_housing_zip_filename = "melbourne_housing.csv.zip"
melbourne_housing_filename = 'melb_data.csv'

download_file(melbourne_housing_kaggle_link, melbourne_housing_zip_filename)

In [55]:
unzip(melbourne_housing_zip_filename, ".")

## Reading data with pandas

In [57]:
import pandas as pd

In [63]:
melb_data = pd.read_csv(melbourne_housing_filename)

## Take a look at the data

In [65]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [66]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Preparing the data
In machine learning the standard is to have the training set in a variable `X` and the predictions of the model in the variable `y`.

In [73]:
# Select features that you want to use for your learning algorithm
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'YearBuilt', 'Lattitude', 'Longtitude']

X = melb_data[melbourne_features]
# We want to train the model to predict the value of y for a given dataset of X
y = melb_data.Price

## Splitting the data into training set and validation set
To validate the model appropriately it is neccessary to split the dataset into a training and a validation data set.
This way we can find out if our model is working good for a dataset that it has never seen before.

In [76]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

## Handling NaNs
Data often contains incomplete data, denoted by NaN (not a number). 
To handle these values there a three convenient methods:
* Drop all columns that have incomplete data
* Imputing the data. Imputation fills in the missing value with some number.
* Extended Imputation. Like imputation but wth extra cloumn that denotes the changed values.

## Find out which columns have incomplete data

In [69]:
missing_val_count_by_column = (melb_data.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

Car               62
BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
dtype: int64

## Drop columns

In [86]:
cols_with_missing = [col for col in train_X.columns 
                                 if train_X[col].isnull().any()]
reduced_train_X = train_X.drop(cols_with_missing, axis=1)
reduced_val_X  = val_X.drop(cols_with_missing, axis=1)

## Imputation

In [87]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
imputed_train_X = my_imputer.fit_transform(train_X)
imputed_val_X = my_imputer.transform(val_X)

## Extended Imputation

In [88]:
imputed_train_X_plus = train_X.copy()
imputed_val_X_plus = val_X.copy()

cols_with_missing = (col for col in train_X.columns 
                                 if train_X[col].isnull().any())
for col in cols_with_missing:
    imputed_train_X_plus[col + '_was_missing'] = imputed_train_X_plus[col].isnull()
    imputed_val_X_plus[col + '_was_missing'] = imputed_val_X_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = my_imputer.fit_transform(imputed_train_X_plus)
imputed_val_X_plus = my_imputer.transform(imputed_val_X_plus)